body{
    background-image: url('https://t4.ftcdn.net/jpg/01/97/92/77/360_F_197927767_MISwwnukYrfEH7BoyWazNXLS2p32Plcb.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}