<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <!-- Update Form-->
                    <h5>Update Task</h5>
                    <div class="row">
                        <form>
                            <div class="form-group mb-3">
                                <label for="taskName" class="form-label">Task Name</label>
                                <input type="text" [(ngModel)]="task.taskName" name="taskName" class="form-control"
                                    value="" id="taskName">

                            </div>
                            <div class="form-group mb-3">
                                <label for="dueDate" class="form-label">Date</label>
                                <input type="date" [(ngModel)]="task.dueDate" name="dueDate" class="form-control"
                                    id="dueDate">
                            </div>
                            <div class="form-group mb-3">
                                <label for="states" class="form-label">States</label>
                                <select class="form-select" [(ngModel)]="task.states" name="states" id="states">

                                    <option selected value="pending">Pending</option>
                                    <option value="completed">completed</option>

                                </select>


                            </div>

                        </form>
                    </div>
                    <div>
                        <button (click)="update()" class="btn btn-success">Update</button>&nbsp;
                        <button routerLink="/" class="btn btn-dark">Back</button>
                    </div>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</body>